In [1]:
# Write a Python function to find the Max of three numbers.

def max_of_two (x,y):
    if x > y:
        return x
    return y
def max_of_three (x,y,z):
    return max_of_two(x,max_of_two(y,z))
print(max_of_three(5,-1,56))

56

In [70]:
# Write a Python function to sum all the numbers in a list.
numbers = eval(input("number need pass :"))
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum(numbers))
# Write a Python function to multiply all the numbers in a list.
def mul(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total
print(mul(numbers))

number need pass :1,2,3,4
10
24

In [71]:
# Write a Python program to reverse a string.

def string_reverse(str1):
    restr1 = ''
    index = len(str1)
    while index > 0:
        restr1 += str1[ index - 1]
        index = index -1
    return restr1
print(string_reverse('chandru'))

urdnahc

In [72]:
# factorial program funtion
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 5
120

In [73]:
# the given number is in the range or not
m = eval(input("number which need to pass : "))
def test_range(m):
    if m in range(5,10):
        print("%s is in the range" %str(m))
    else:
        print("given number is in outside the range")
test_range(m)

number which need to pass : 5
5 is in the range

In [75]:
# Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.
s = eval(input("Enter the words :"))
def string_test(s):
    d = {"UPPER_CASE":0,"LOWER_CASE":0}
    for c in s:
        if c.isupper():
            d["UPPER_CASE"] +=1
        elif c.islower():
            d["LOWER_CASE"] +=1
        else:
            pass
    print("the given",s)
    print("the uppercase: ",d["UPPER_CASE"])
    print("the lowercase: ",d["LOWER_CASE"])
        

string_test(s)

Enter the words :"chandraPRAKASH"
the given chandraPRAKASH
the uppercase:  7
the lowercase:  7

In [76]:
# Write a Python function that takes a list and returns a new list with unique elements of the first list
L = [1,2,3,3,3,3,4,4,5,6]

def unique_list(L):
    x = []
    for a in L:
        if a not in x:
            x.append(a)
    return x
print(unique_list(L))

[1, 2, 3, 4, 5, 6]

In [77]:
# prime number or not:
p = int(input("enter the number :"))
def prime_number(p):
    if (p==1):
        return False
    elif (p==2):
        return True;
    else:
        for x in range(2,p):
            if(p % x==0):
                return False
        return True
print(prime_number(p))

enter the number :37
True

In [78]:
# to find the even number in the list:
def is_even_num(l):
    enum = []
    for n in L:
        if n % 2==0:
            enum.append(n)
    return enum
print(is_even_num([1, 2, 3, 4, 5, 6, 7, 8, 9]))

[2, 4, 4, 6]

# N LARGEST AND SMALLEST AND SUM AND AVERAGE NUMBERS

In [2]:
n = int(input("enter the number of elements: "))
lis = list()
for x in range(n):
    nums = int(input("enther the numbers: "))
    lis.append(nums)
    

Sum = sum(lis)
Max = max(lis)
Min = min(lis)
Avg = sum(lis)/len(lis)

print("sum of numbers in list",Sum)
print("Maximum numbers of list",Max)
print("Minimum numbers of list",Min)
print("average numbers of list",Avg)

enter the number of elements: 5
enther the numbers: 223
enther the numbers: 554
enther the numbers: 554
enther the numbers: 454
enther the numbers: 54
sum of numbers in list 1839
Maximum numbers of list 554
Minimum numbers of list 54
average numbers of list 367.8

# lambda function to multiply 2 numbers :

In [3]:
li = lambda a,b:a*b

print(li(2,3))

6

# sql

In [ ]:
SELECT *
FROM table_name
WHERE condition;

In [ ]:
SELECT * FROM Customers
ORDER BY Country;

In [ ]:
SELECT COUNT(ProductID)
FROM Products;

In [ ]:
DELETE FROM table_name;

# statistic question

In [ ]:
# normal distribution : natural occurs and normally disrtibuted values
Heights of people.
Measurement errors.
Blood pressure.
Points on a test.
IQ scores.
Salaries.

# difference between co va and variance:


In statistics, a variance is the spread of a data set around its mean value, 
while a covariance is the measure of the directional relationship between two random variables.

# t test and anova:

What are they? The t-test is a method that determines whether two populations are statistically different 
from each other, whereas ANOVA determines whether three or more populations are statistically different from each other.
Both of them look at the difference in means and the spread of the distributions (i.e., variance) across groups; 
however, the ways that they determine the statistical significance are different.

When are they used? These tests are performed when 1) the samples are independent of each other 
2) have (approximately) normal distributions or when the sample number is high (e.g., > 30 per group).
More samples are better, but the tests can be performed with as little as 3 samples per condition

# sample < 30 t test